{
  "extends": "stylelint-config-rational-order",
  "plugins": [
    "stylelint-order",
    "stylelint-config-rational-order/plugin",
    "stylelint-a11y"
  ],
  "rules": {
    "indentation": 2,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen",
          "layer"
        ]
      }
    ],
    "declaration-block-trailing-semicolon": null,
    "no-descending-specificity": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global"
        ]
      }
    ],
    "color-hex-case": "lower",
    "string-quotes": "single",
    "order/properties-order": [],
    "plugin/rational-order": [
      true,
      {
        "border-in-box-model": false,
        "empty-line-between-groups": true
      }
    ],
    "a11y/no-outline-none": true,
    "a11y/selector-pseudo-class-focus": true
  }
}
